@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-1: #04a28f;
  --primary-2: #0058f0;
  --secondary-1: #334f68;
  --secondary-2: #fdc86e;
  --primary-2-hover: #0b5ed7;
  --text-gray: #ffffff6d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito", "Avenir Next", Avenir;
}
